form{
    padding: 0 0 45px 0;
}

img{
    height: 200px;
    width: 200px;
}
.button{
    color: #DCD7C9;
    border-radius: 10px;
    margin-top: 1em;
    background: none;
    border: 2px solid;
    padding: 0 3em;
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
}

.button:hover{
    background-color: #A27B5C;
    transform: translateY(4px);
}

.input{
    color: #DCD7C9;
    border-radius: 10px;
    margin-top: 1em;
    background: none;
    border: 2px solid;
    text-decoration: none;
    text-decoration: none;
}