form{
    padding: 0 0 45px 0;
}

.button{
    color: #DCD7C9;
    border-radius: 10px;
    margin-top: 1em;
    background: none;
    border: 2px solid;
    padding: 0 3em;
    text-decoration: none;
}

.input{
    color: #DCD7C9;
    border-radius: 10px;
    margin-top: 1em;
    background: none;
    border: 2px solid;
    text-decoration: none;
    text-decoration: none;
}