body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

    background-color: #7da4bc ;
    text-align: center;
    font-size: 60px;
}

h1, span{
  color: #3f5f70;
  margin: 0;
}
h1{
  padding: 35px 0 0 0;
  font-size: 100px;
}
p{
  color: #8d9297;
  font-size: 43px;
  margin: 4% 16% 0 16%;
}
button{
  margin: 2% 3%;
  height: 100px;
  width: 600px;
  font-size: 50px;
}

input{
  margin: 2% 3%;
  height: 94px;
  width: 600px;
  font-size: 50px;
  text-align: center;
}
